name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *" # Runs daily at midnight UTC
  workflow_dispatch: # Allows manual trigger

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: true
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Ensure dist folder
        run: mkdir -p dist

      - name: Generate snake SVG (light)
        run: npx github-contribution-grid-snake -u "${{ github.repository_owner }}" -o ./dist/github-contribution-grid-snake.svg

      - name: Generate snake SVG (dark)
        run: npx github-contribution-grid-snake -u "${{ github.repository_owner }}" --theme dark -o ./dist/github-contribution-grid-snake-dark.svg

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}